@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 255 115 179;
    --color-secondary: 111 114 185;
    /* ... */
  }
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

:root {
  --color-bg: #0d121f;
  --color-bg-variant: #00000040;
  --color-white: #f3f5f7;
  --color-purple: #7c5cfc;
  --text-color: #040815;
  --color-error: #ff4423;
  --color-success: #9cd323;
  --color-gray: #596780;
  --color-gray-shade: #90a3bf;
  --color-gray-variant: #1a202c;
  --box-shadow: #00000040;
}

html {
  scroll-behavior: smooth;
}

/* ::-webkit-scrollbar {
  display: none;
} */

body {
  font-family: "Ubuntu", sans-serif;
  color: var(--color-white);
  line-height: 1.7;
}

.navbar {
  background: var(--color-bg-variant);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_demo {
  background: var(--color-purple);
  border-radius: 30px;
}
.hero_demo:hover {
  background: var(--color-gray);
}

.hero_plans {
  background: var(--color-gray-variant);
  border-radius: 36px;
}
.hero_plans:hover {
  background: var(--color-bg-variant);
  color: var(--color-purple);
}

.rough {
  margin: auto;
  width: 95%;
  margin-top: 20px;
}

.rough img {
  width: 80%;
  height: 10%;
}

.footer__container {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 50px;
}

@media screen and (max-width: 1028px) {
  .footer__container {
    display: block;
    padding: 30px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    row-gap: 40px;
  }
}

/* @media screen and (max-width: 300px) {
  .footer__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    row-gap: 40px;
  }
} */
